<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{pageTitle}}</title>
</head>
<body>
	{{> header}}
	<p>BiblioTech is made by:</p>
	<ul>
		<li>Alessandro Aria Wibowo</li>
		<li>Thomas Robin <b>(tenebroso)</b></li>
		<li>Kenny Ongkojoyo</li>
		<li>Akbar Ghifari</li>
		<li>Reyhan Tanuwijaya</li>
		<li>Syahruddin</li>
	</ul>
	{{> footer}}
</body>
</html>